<footer>
    <div class="mx-auto flex p-2 h-[420px] bg-black">
      <div class="textfooter flex">
        <div class="flex flex-col text-white ml-10 mt-20">
          <img src="/images/logocircle.png" alt="logo">
        </div>
        <div class="flex flex-col text-white ml-10 mt-20">
          <li<h1 class="text-2xl font-semibold">Our team</h1></li>
          <a href="#"><div class="flex flex col text-gray-400 text-base ml-1 mr-[10px] mt-[5vh] ">About Us</div></a>
          <a href="#"><div class="flex flex col text-gray-400 text-base ml-1 mr-[10px] mt-[5vh] ">Team</div></a>
          <a href="#"><div class="flex flex col text-gray-400 text-base ml-1 mr-[10px] mt-[5vh] ">What we do </div></a>
          <a href="#"><div class="flex flex col text-gray-400 text-base ml-1 mr-[10px] mt-[5vh] ">Contact</div></a>
  
        </div>
        <div class="flex flex-col text-white ml-10 mt-20">
          <li<h1 class="text-2xl font-semibold">More</h1></li>
          <a href="#"><div class="flex flex col text-gray-400 text-base ml-1 mr-[10px] mt-[5vh] ">Projects</div></a>
          <a href="#"><div class="flex flex col text-gray-400 text-base ml-1 mr-[10px] mt-[5vh] ">Events</div></a>
          <a href="#"><div class="flex flex col text-gray-400 text-base ml-1 mr-[10px] mt-[5vh] ">Donate </div></a>
          <a href="#"><div class="flex flex col text-gray-400 text-base ml-1 mr-[10px] mt-[5vh] ">Blog</div></a>
  
        </div>
        <div class="flex flex-col text-white ml-10 mt-20">
          <li<h1 class="text-2xl font-semibold">Connect</h1></li>
          <a href="#"><div class="flex flex col text-gray-400 text-base ml-1 mr-[10px] mt-[5vh] ">Facebook</div></a>
          <a href="#"><div class="flex flex col text-gray-400 text-base ml-1 mr-[10px] mt-[5vh] ">Instagram</div></a>
          <a href="#"><div class="flex flex col text-gray-400 text-base ml-1 mr-[10px] mt-[5vh] ">Twitter </div></a>
          <a href="#"><div class="flex flex col text-gray-400 text-base ml-1 mr-[10px] mt-[5vh] ">Linkdin</div></a>
  
        </div>
      </div>
      <div class="mail flex flex-col  text-white m ml-[200px] mt-20">
        <h1 class="text-white font-bold text-6xl">Get In Touch</h1>
        <div class="flex items-center mt-[60px]">
          <input 
            type="text" 
            placeholder="Your email" 
            class="w-[400px] h-[50px] px-4  text-black border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-green-500"
          >
          <button class="h-[50px] px-6 bg-white text-black font-semibold rounded-r-md shadow-md hover:bg-green-500">
            Subscribe
          </button>
        </div>
        
      </div>
      
      

      
      
      
  </footer>